.login-form{
    padding: 20px 0;
    box-shadow: 0 1px 3px #888;
}
.login-form input {
    outline: none;
    border: 0;
    border-bottom: 1px solid #B22222;
    padding-left: 15px;
    border-radius: 30px;
    height: 40px;
}
.login-form button{
    outline: none;
    border: 0;
    background: #B22222;
    color: white;
    font-weight: 600;
    padding: 10px 70px;
    border-radius: 30px;
    text-transform: uppercase;
}