.dashboard{
    overflow-x: hidden;
}
.dashboard-menu{
    height:100vh;
}
.dashboard-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dashboard-menu ul li {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}
.dashboard-welcome h3>span{
    color: #B22222;
}
.dashboard-logOut{
    position: absolute;
    bottom: 5%;
}